/* font poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*==== Default Style :: Start ====*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #161616;
  --secondary-color: #d6d6d6;
  --white-gradient: linear-gradient(94deg, #fff 49.83%, #858585 92.81%);
  --para-color: #fafbfc;
  --grey: #bdbdbd;
  --blue: #358bfc;
  --white: #fff;
  --skyBlue:rgb(16, 250, 250);
  --btn-gradient: linear-gradient(106deg, #7c23ee 3.56%, #174ca8 102.69%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--white);
  overflow-x: hidden;
  line-height: 1.3;
}
main {
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

p,
span {
  font-size: 16px;
  color: var(--grey);
  line-height: 26px;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
button {
  border: none;
}

/* common styles */
.common-section-gap{
  padding: 120px 0 60px;
}
.common-section-heading{
  position: relative;
  color:  #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.48px;
  letter-spacing: -0.64px;
  margin-bottom: 24px;
  box-reflect: below -.2em linear-gradient(0,rgb(0 0 0 / 6%) 0%,#fff0 100%);
  -webkit-box-reflect: below -0.4em linear-gradient(0, rgb(0 0 0 / 32%) 0%, #fff0 49%);
}
.common-section-heading::before{
  content: "";
  position: absolute;
  background-color: rgba(15, 163, 221,0.88);
  height: 60px;
  width: 60px;
 border-radius: 50%;
  z-index: -1;
}
.common-section-heading-para{
  color:  #BDBDBD;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.36px;
  margin-bottom: 48px;
}

/* Header Style Start */
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 48px 0;
    background-color: #121212;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    left: 0;
    top: 0;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper .logo{
    width: 195px;
    height: 85px;
}
.nav-wrapper .logo img{
   width: 100%;
   height: 100%;
}
 .menu-wrapper ul{
    display: flex;
    gap: 20px;
}
 .menu-wrapper ul li a{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.68px;
    letter-spacing: -0.48px;
    color: var(--white);
    padding: 12px 10px 18px;
    display: block;
    width: 100%;
    position: relative;
}
 .menu-wrapper ul li a:hover{
    color: #5733d4;
}
 .menu-wrapper ul li a:active{
    color: #5733d4;
}
 .menu-wrapper ul li a:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: -o-linear-gradient(
      8deg,
      rgba(255, 255, 255, 1) 29%,
      rgba(0, 0, 0, 0.07046568627450978) 100%
    );
    background: linear-gradient(
      82deg,
      rgba(255, 255, 255, 1) 29%,
      rgba(0, 0, 0, 0.07046568627450978) 100%
    );
}
 .nav-wrapper .mobile-menu{
    cursor: pointer;
    width: 48px;
    height: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
}
.nav-button{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-button a{
    display: inline-block;
    padding: 16px 70px;
    background: var(--btn-gradient);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
}

/* aside menu bar */
.aside-menu-bar{
    position: fixed;
    z-index: 9999;
    left: -100%;
    top: 0;
    background-color: rgba(111, 111, 200, 0.99);
    width: 300px;
    height: 100vh;
    padding: 30px;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.aside-menu-bar .aside-close-btn{
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
}
.show{
  left: 0 !important; 
}
.aside-menu-bar .nav-wrapper,
.aside-menu-bar ul,
.aside-menu-bar .nav-button{
    flex-direction: column;
}
.aside-menu-bar .nav-wrapper{
    gap: 20px;
}
.aside-menu-bar .logo{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.aside-menu-bar .logo img{
   width: 130px;
   height: 70px;
}
.aside-menu-bar .menu-wrapper ul {
  gap: 10px;
}
.aside-menu-bar .menu-wrapper ul li a{
  font-size: 18px;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  color: var(--white);
  padding: 8px 10px 6px
}
.aside-menu-bar .nav-button a{
  padding: 12px 50px;
  font-size: 16px
}

/* Hero area start */
.container-fluid{
  max-width: 1843px;
}
.hero-section{
    padding-top: 100px;
    background-color: var(--white);
    height: calc(100vh-133px);
}
.hero-area-inner{
    padding: 120px 0;
    display: flex;
    width: 100%;
}
.hero-left,
.hero-Right{
    width: 50%;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-left h2{
  text-align: center;
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.44px;
  letter-spacing: -2.24px;
  color: green;
}
.hero-left h1,
.hero-left h1 span{
  color: aqua;
  text-align: center;
  font-family: Inter;
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  line-height: 92px;
  letter-spacing: 4.8px;
  margin-bottom: 24px;
  box-reflect: below -.2em linear-gradient(0,rgb(0 0 0 / 6%) 0%,#fff0 100%);
  -webkit-box-reflect: below -.2em linear-gradient(0,rgb(0 0 0 / 6%) 0%,#fff0 42%);
}
.hero-left h1 span{
  color: #358bfc;
}
.hero-left h3{
  color: greenyellow;
  text-align: center;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.68px;
  letter-spacing: -0.48px;
}
.hero-area-banner img{
    width: 100%;
    height: 100%;
}

/* experties are start */
.expert-card-wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
}
.expert-card-wrapper:before,
.expert-card-wrapper:after {
  content: "";
  position: absolute;
  width: 73px;
  height: 73px;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: -1;
}
.expert-card-wrapper:before {
  top: -24px;
  left: -22px;
}
.expert-card-wrapper:after {
  width: 73px;
  height: 73px;
  top: -24px;
  right: -24px;
  background-color: blueviolet;
}

.expert-single-card{
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 16px;
  overflow: hidden;
}
.expert-card-image{
  overflow: hidden;
}
.expert-card-image img{
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.expert-card-image img:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.expert-card-body{
  padding: 0px 20px 20px;
}
.expert-card-body h5{
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.8px;
  margin-bottom: 32px;
  position: relative;
}
.expert-card-body h5::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: -o-linear-gradient(
    8deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(0, 0, 0, 0.07046568627450978) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(3, 3, 3, 0.07) 62%
  );
}
.expert-card-body p
.expert-card-body a{
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.52px;
  display: inline;
}
.expert-card-body a{
  text-decoration: underline;
}
/* experties area end  */

/* technology section start */
.technology-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
}
.tech-logo{
  width: 100px;
  height: 100px;
}
.tech-logo img{
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 12px;
}
.tech-logo P{
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 33px;
margin-bottom: 10px;
}


/* technology section End */

/* my project area start */
.project-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.project-title{
  font-size: 28px;
  color: var(--blue);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.project-short-review{
  font-size: 22px;
  color: var(--white);
  font-weight: 500;
  line-height: normal;
  font-style: italic;
  margin-bottom: 10px;
}
.project-details{
  font-size: 18px;
  color: var(--white);
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 10px;
}
.main-project{
  position: relative;
}
.main-project::after{
  content: "";
  position: absolute;
  background-color: var(--blue);
  height: 130px;
  width: 130px;
  bottom: -13px;
  right: -13px;
  z-index: -1;
}
.main-project::before{
  content: "";
  position: absolute;
  background-color: var(--skyBlue);
  height: 130px;
  width: 130px;
  top: -13px;
  left: -13px;
  z-index: -1;
}
.main-project img{
  width: 100%;
  height: 100%;
}
/* my project area End */

/* Review area start */
.review-section{
}
.review-content{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  background-color: var(--para-color);
  border-radius: 8px;
}
.client-profile{
  display: flex;
  gap: 20px;
}
.client-name-designation{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-content p{
  color: #19191B;
  font-family: Gilroy;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.657px;
}
.client-img img{
  width: 70px !important;
  height: 69.996px;
  border-radius: 50%;
}
.client-name-designation h4{
  color: #19191B;
  font-family: "Circular Std";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.657px;
}
.client-name-designation p{
  color: #19191B;
font-family: Gilroy;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 39px;
letter-spacing: -0.657px;
}
.review-card-wrapper .owl-dots{
  margin-top: 20px;
}
.review-card-wrapper .owl-prev{
  position: absolute;
  top: 25%;
  left: -35px;
}
.review-card-wrapper .owl-next{
  position: absolute;
  top: 25%;
  Right: -35px;
}
.review-card-wrapper .owl-nav svg{
  background: #207d93;
  background: var(--btn-gradient);
  fill: #d6d6d6;
}
.review-card-wrapper .owl-nav svg:hover{
  background: #207d93;
  fill: #d6d6d6;
}
.review-card-wrapper .owl-theme .owl-dots .owl-dot span {
  width: 38px;
  height: 10px;
  background: var(--white);
  border-radius: 30px;
}
.review-card-wrapper .owl-theme .owl-dots .owl-dot.active span {
  background: var(--btn-gradient);
}

/* Review area End */

